# Docker Ignore Files
# https://docs.docker.com/engine/reference/builder/#dockerignore-file
.env
.git
.gitignore
private-key.pem
**/node_modules

# Another Projects
whatsapp_api/*
whatsapp_app/*
ollama/*

# Docker-compose
docker-compose.yml
docker-compose-prod.yml
