<h1> Codaqui </h1>

{% if user.is_authenticated %}
    {% if not student %}
        <!-- Necessita do pré-cadastro -->
        <p>O seu registro está incompleto, para liberar as funções do site. Complete clicando aqui: X. </p>
    {% else %}
        <!-- Já possui o pré-cadastro -->
        <p>Olá, {{ user.student.name }}!</p>
        <p>Você tem ou completará este ano: {{ user.student.get_age }} anos!</p> 
    {% endif %}
    <a href="{% url "core:logout" %}">Sair</a>
{% else %}
    <a href="{% url "social:begin" "github" %}">Entrar com GitHub</a>
{% endif %}